/*Author : Matthieu BIVILLE*/

.container {
  width: 80%;
  height: 100vh;
  padding-inline: 25px;
  padding-top: 52px;
  padding-bottom: 52px;
}

.title {
  color: #223A6A;
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
}

.icon{
  width: 81px;
  height: 56.7px;
  flex-shrink: 0;
}

.addButton{
  width: 154px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 34px;
  background: #223A6A;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.addButton:hover{
  cursor: pointer;
}

.search{
  width: 300px;
}

.table{
  margin-top: 40px;
  height: 70vh;
}

.iconContainer{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconContainer:hover{
  cursor: pointer;
}

.rowIcons{
  display: flex;
  column-gap: 25px;
  align-items: center;
  height: 100%
}

.rowLabel{
  color: #223A6A;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

